.cell {
  width: 25px;
  height: 25px;
  font-family: 'sans-serif';

  &--dark-background {
    background-color: #96cc99;
  }

  &--light-background {
    background-color: #aacc99;
  }
}

.apple-placement {
  background-color: #cb6d68;
}

.snake-placement {
  background-color: #282828;
}
