.cell {
  width: 25px;
  height: 25px;
  font-family: 'sans-serif';

  &:nth-child(even) {
    background-color: #aacc99;
  }

  &:nth-child(odd) {
    background-color: #96cc99;
  }
}

.apple-placement {
  &:nth-child(n) {
    background-color: #cb6d68;
  }
}

.snake-placement {
  &:nth-child(n) {
    background-color: #282828;
  }
}
